<%- include('header'); -%>
<div class="content">
  <h1 id="welcome">Contacts</h1>
  <table>
    <tr>
      <th>Society</th>
      <th>Contact</th>
      <th>Address</th>
      <th>Zipcode</th>
      <th>City</th>
      <th>Phone</th>
      <th>Fax</th>
    </tr>
    <tr>
        <td>| Bureau S.A.</td>
        <td>| Maurice Porteboeuf</td>
        <td>| 121, Rue Montespan</td>
        <td>| 74202</td>
        <td>| THONON</td>
        <td>| 04 55 67 91 12</td>
        <td>| 04 55 67 92 21</td>
    </tr>
    <tr>
        <td>| Fournitures modernes</td>
        <td>| Francois Courtinaud</td>
        <td>| 19, Rue Saint-Andre-des-Arts</td>
        <td>| 17310</td>
        <td>| ARCENS</td>
        <td>| 05 56 30 03 65</td>
        <td>| 05 56 30 00 01</td>
    </tr>
    <tr>
        <td>| Bergenod S.A.</td>
        <td>| Pascale Morizot</td>
        <td>| 13, rue du 8 Mai 1945</td>
        <td>| 16540</td>
        <td>| FONTAN</td>
        <td>| 03 42 24 46 30</td>
        <td>| 03 42 24 30 28</td>
    </tr>
    <tr>
        <td>| Stationays du centre</td>
        <td>| Christine Chevillard</td>
        <td>| 2, Rue Tronchet</td>
        <td>| 27000</td>
        <td>| EVREUX</td>
        <td>| 02 35 56 98 65</td>
        <td>| 02 35 56 12 43</td>
    </tr>
    <tr>
        <td>| Alpha plus</td>
        <td>| Christophe Hondel</td>
        <td>| 17, Bd Picpus</td>
        <td>| 71300</td>
        <td>| MONTCEAU LES MINES</td>
        <td>| 03 11 34 58 45</td>
        <td>| 03 11 45 79 33</td>
    </tr>
    <tr>
        <td>| Ets Martin</td>
        <td>| Simone Bourguignon</td>
        <td>| 12, rue Antoine Fee</td>
        <td>| 56300</td>
        <td>| PONTIVY</td>
        <td>| 02 47 43 89 01</td>
        <td>| 02 47 43 89 27</td>
    </tr>
    <tr>
        <td>| Editions entreprise</td>
        <td>| Aline Verney</td>
        <td>| 7, rue Cartier Bresson</td>
        <td>| 77200</td>
        <td>| TORCY</td>
        <td>| 01 56 67 91 12</td>
        <td>| 01 56 67 92 21</td>
    </tr>
    <tr>
        <td>| Audio Max</td>
        <td>| Eric Fanarassou</td>
        <td>| 145, av Aristide Briand</td>
        <td>| 31037</td>
        <td>| TOULOUSE</td>
        <td>| 05 68 66 67 65</td>
        <td>| 05 68 55 68 76</td>
    </tr>
    <tr>
        <td>| Info Media</td>
        <td>| Laurent Berthelod</td>
        <td>| 9, rue Arthur Enaud</td>
        <td>| 38000</td>
        <td>| GRENOBLE</td>
        <td>| 04 45 56 43 43</td>
        <td>| 04 45 56 67 54</td>
    </tr>
    <tr>
        <td>| Les leathers modernes</td>
        <td>| Roger Grandbernard</td>
        <td>| 23, rue de la gare</td>
        <td>| 38600</td>
        <td>| FONTAINE</td>
        <td>| 04 68 64 69 63</td>
        <td>| 04 68 64 65 11</td>
    </tr>
    
    
  </table>
</div>
<br>
<%- include('footer'); -%>